.Footer{
	margin-top:20px;
}

.Footer .u-gridContainer {
	background-color:#fbfb9d;
	border-top:solid;
	border-color:black;
	border-width:2px;
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {

}

